{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="registration form">
        <header>Signup</header>
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          <input type="text" name ="username" placeholder="Enter your email">
          <input type="text" name ="name" placeholder="Enter your Name">
          <input type="password" name ="password" placeholder="Create a password">
          <input type="password" placeholder="Confirm your password">
          <input type="submit" class="button" value="Signup">
        </form>
        <div class="signup">
          <span class="signup">Already have an account?
           <label for="">
            <a href="{%url 'login'%}"> Login </a>
           </label>
          </span>
        </div>
      </div>
  </div>
</body>
</html>
